:host {

    .container {
        width: 98%;
    }

    .clothes-container {
        overflow: visible;
        gap: 8px;
    }

    .card {
        width: 100%;
        height: 100%;
        aspect-ratio: 2 / 3;
        transition: all ease 0.2s;
    }

    .card > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}