:host {
    button {
        font-size: 24px;
        background-color: rgba(186, 138, 138, 0);
        color: var(--secondary-color);
        padding: 8px;
        border: none;
    }

    button:hover {
        background-color: var(--third-color);
        color: var(--secondary-color);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }

    .main {
        font-size: 32px;
        background-color: rgba(186, 138, 138, 0);
        color: var(--fourth-color);
        padding: 8px 16px;
        border: 1px var(--fourth-color) solid;
    }

    .main:hover {
        border: none;
        padding: 9px 17px;
    }
}