:host {
    section {
        width: 500px;
        height: 90vh;
        z-index: 999;
        transition: all ease 0.2s;
    }

    .display, .hide {
        top: 64px;
    }

    .display {
        right: 16px;
    }

    .hide {
        right: -500px;
    }
}