:host {
    section {
        z-index: 10;
        top: 0;
    }

    .header-container {
        padding: 8px 0;
    }

    .header-right {
        width: fit-content;
        height: 100%;
    }

    .header-title {
        font-size: 22px;
        color: var(--secondary-color);
        position: relative;
        top: 4px;
    }

    .mat-icon {
        transition: all ease 0.2s;
        color: var(--secondary-color) !important;
        font-size: 22px;
    }

    .mat-icon:hover {
        scale: 1.2;
        transform: rotate(-25deg);
        color: var(--third-color) !important;
    }
}