:host {

    .clothes-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: fit-content;
        padding-top: 64px;
        grid-gap: 16px;
        justify-items: center;
        margin-left: auto;
    }

    app-clothe-card {
        width: 250px !important;
    }
}