:host {
    .back {
        background-image: url('/icons/arrow-left.svg');
        width: 18px;
        height: 18px;
    }

    .right {
        transform: rotate(180deg);
        margin-left: auto;
    }
}