:root {
  --primary-color: #212121;
  --secondary-color: #3B3B3B;
  --third-color: #A9F0B4;
  --fourth-color: #EAE6DE;
  --fourth-color-10: #ffffff13;
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg-color {
  background-color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-bg-color {
  background-color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

.third-bg-color {
  background-color: var(--third-color);
}

.fourth-color {
  color: var(--fourth-color);
}

.fourth-bg-color {
  background-color: var(--fourth-color);
}