:host {

    .home-container {
        padding: 50px 0;
    }

    .promotion-container {
        width: 98%;
        grid-template-columns: 1fr 1fr;
        border-radius: 8px;
    }

    .promotion-banner-content {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 16px;
    }

    .promotion-banner-content > p {
        text-align: start;
        font-size: 64px;
        margin: 0;
    }
}