/* You can add global styles to this file, and also import other style files */
@import url('./styles/colors.css');
@import url('./styles/fonts.css');

body {
    background-color: #212121;
    color: #FFF;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
