/* You can add global styles to this file, and also import other style files */
@import url('./styles/colors.css');
@import url('./styles/fonts.css');

body {
    background-color: #212121;
    color: #FFF;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.is-grid-in-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.margin-r-a {
    margin-right: auto;
}

.margin-l-a {
    margin-left: auto;
}

.margin-lr-a {
    margin-left: auto;
    margin-right: auto;
}

.is-block {
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.is-grid {
    display: grid;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-22 {
    gap: 22px;
}

.gap-24 {
    gap: 24px;
}

.gap-28 {
    gap: 28px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.w-fit {
    width: fit-content;
}

.w-full {
    width: 100%;
}

.is-pointer {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
    display: block !important;
    color: var(--third-color) !important;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.radius-2 {
    border-radius: 2px;
}

.radius-4 {
    border-radius: 4px;
}

.radius-8 {
    border-radius: 8px;
}

.radius-12 {
    border-radius: 12px;
}

.radius-16 {
    border-radius: 16px;
}

.radius-24 {
    border-radius: 24px;
}